h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item

    .card-body

        h5 Cód. 210101013

        p.mb-0 Procesar la información de acuerdo con las requisiciones y procedimientos establecidos por la empresa.