h2 Desarrollo de <br>contenidos
.brand-line-primary

.row.justify-content-center

    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('0', 'Introducción', 'main.html#pages/tema-1/')
                    +navTemaItem('1', 'Tipos de Informe en las organizaciones.', 'main.html#page/tipos/')
                    +navTemaItem('2', 'Estructura de un informe.', 'main.html#page/estructura/')
                    +navTemaItem('3', 'Definición de un informe Técnico.', 'main.html#page/definicion/')
                    +navTemaItem('4', 'Registro de datos.', 'main.html#page/registro/')