include ../mixins/functions

+pageHeader('Procedimiento para el diseño y registro de informes', 'assets/images/header/header_media.svg')

.container#introduccion

    .header-ecored

        h1 Introducción

    .row.my-5
        
        .card

            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/fCS0WEcYbmo', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            .card-body

                .card-text

                    p En el siguiente material encontrará herramientas necesarias para comprender la forma de elaborar un informe en una organización, su estructura y componentes más importantes, ya que de la claridad y precisión del informe, así podrán ser tomadas las decisiones más adecuadas para la organización; así mismo se revisará la relación con los diferentes tipos de procesos y sistemas organizacionales. También se podrá validar la importancia y relevancia del registro de datos, de igual forma su relación con los procesos que componen una empresa.