include ../mixins/functions

+pageHeader('Procedimiento para el diseño y registro de informes', 'assets/images/header/header_media.svg')

.container#tipos

    .header-ecored

        h1 1. Tipos de informe en las organizaciones

    .row.mx-0
        
        .card

            img(src="assets/images/pages/img1.png", style="max-width: 100%").img-fluid

            .card-body

                .card-text

                    p Todos los aspectos relevantes en las organizaciones dependen de la actividad que realizan y la dinámica que las caracteriza. Para los informes también aplica este concepto, dado que, de acuerdo con su naturaleza y contenido, tendrán unas características especiales.

    .row.mx-0(style="background-color:#FFFFFF; border-radius: 10px")

        .col-12.my-3.mx-2

            p Los informes según su naturaleza pueden ser:

        .col-12
        
            .row.justify-content-center.align-items-center.mx-2(style="border-radius: 10px; background-color:#B2D1F2;")

                .col-12.col-md-2.justify-content-center.align-items-center.py-2

                    img(src="assets/images/pages/img1.svg", style="max-width: 100%").rounded.mx-auto.d-block

                .col-12.col-md-10(style="background-color:#D3E7FF; border-top-right-radius: 10px; border-bottom-right-radius: 10px")

                    p(style="padding-top: 2%") 
                        strong Técnicos

                    hr(style="border: 1px solid #8EB5E1")

                    p Este tipo de informes son utilizados por organizaciones ya sea de tipo público o privado, con el fin de informar el estado de alguna actividad de estudio o investigativa a un determinado grupo, en el cual se incluyen tecnicismos porque se requiere un cierto nivel de conocimiento sobre el tema para entender adecuadamente su contenido.

            br

            .row.justify-content-center.align-items-center.mx-3(style="border-radius: 10px; background-color:#B2D1F2;")

                .col-12.col-md-2.justify-content-center.align-items-center.py-2

                        img(src="assets/images/pages/img2.svg", style="max-width: 60%").rounded.mx-auto.d-block

                .col-12.col-md-10(style="background-color:#D3E7FF; border-top-right-radius: 10px; border-bottom-right-radius: 10px")

                    p(style="padding-top: 2%") 
                        strong Científicos

                    hr(style="border: 1px solid #8EB5E1")

                    p Utiliza términos especializados, al igual que el informe técnico, pero de un mayor nivel, ya que son especiales para socializar actividades investigativas en diferentes áreas.
            
            br

            .row.justify-content-center.align-items-center.mx-3(style="border-radius: 10px; background-color:#B2D1F2;")

                .col-12.col-md-2.justify-content-center.align-items-center.py-2

                    img(src="assets/images/pages/img4.svg", style="max-width: 70%").rounded.mx-auto.d-block

                .col-12.col-md-10(style="background-color:#D3E7FF; border-top-right-radius: 10px; border-bottom-right-radius: 10px")

                    p(style="padding-top: 2%") 
                        strong Divulgativo

                    hr(style="border: 1px solid #8EB5E1")

                    p Utilizado para dar a conocer contenidos variados al público en general, contextualizando a sus lectores, en términos y lenguaje de fácil comprensión, evitando tecnicismos.

            br

            .row.justify-content-center.align-items-center.mx-3(style="border-radius: 10px; background-color:#B2D1F2;")

                .col-12.col-md-2.justify-content-center.align-items-center

                    img(src="assets/images/pages/img3.svg", style="max-width: 70%").rounded.mx-auto.d-block

                .col-12.col-md-10(style="background-color:#D3E7FF; border-top-right-radius: 10px; border-bottom-right-radius: 10px")

                    p(style="padding-top: 2%") 
                        strong Mixto

                    hr(style="border: 1px solid #8EB5E1")

                    p Puede ser utilizado por una organización en particular para dar a conocer un tema, concepto o noticia al público en general, a quien pueda interesar.
            
            br

    br

    .row.mx-0(style="background-color:#FFFFFF; border-radius: 10px")

        .col-12.my-3

            p Por otra parte, según su contenido pueden ser: 

        .col-12.px-0
        
            .row.justify-content-center.align-items-center.mx-3(style="border-radius: 10px; background-image: url('assets/images/pages/img2.jpg'); background-size: contain")

                .d-none.d-sm-block.col-2

                .col-12.col-md-10(style="background-color:#CBEAE7")

                    p(style="padding-top: 2%") 
                        strong Expositivos

                    hr(style="border: 1px solid #7DCAC2")

                    p Son utilizados para presentar resultados, avances de proyectos, investigaciones, logro de metas y sus objetivos, o de algún otro tipo de situación que requiere una presentación para conocimiento de un determinado público.

            br

            .row.justify-content-center.align-items-center.mx-3(style="border-radius: 10px; background-image: url('assets/images/pages/img3.jpg'); background-size: contain")

                .d-none.d-sm-block.col-2

                .col-12.col-md-10(style="background-color:#CBEAE7")

                    p(style="padding-top: 2%") 
                        strong Interpretativos

                    hr(style="border: 1px solid #7DCAC2")

                    p Este tipo de informes se enfocan específicamente en la interpretación de la información, hechos y datos sobre una situación en particular, por ejemplo: revisar e interpretar la información del nivel de despachos oportunos que se dieron durante el último semestre, comparándolo con el mismo periodo del año anterior y estableciendo una disminución o aumento en su resultado, y dado el caso, generar un posterior plan de acción de acuerdo con esto.

            br

            .row.justify-content-center.align-items-center.mx-3(style="border-radius: 10px; background-image: url('assets/images/pages/img4.jpg'); background-size: contain")

                .d-none.d-sm-block.col-2

                .col-12.col-md-10(style="background-color:#CBEAE7")

                    p(style="padding-top: 2%") 
                        strong Demostrativos
                    
                    hr(style="border: 1px solid #7DCAC2")

                    p Es útil al momento de defender una teoría o posición frente a algún tema, así como en la defensa y sustentación de una propuesta o iniciativa. Por ejemplo: cuando se requiera demostrar la causa raíz del aumento de los pedidos con faltantes.

            br

            .row.justify-content-center.align-items-center.mx-3(style="border-radius: 10px; background-image: url('assets/images/pages/img5.jpg'); background-size: contain")

                .d-none.d-sm-block.col-2

                .col-12.col-md-10(style="background-color:#CBEAE7")

                    p(style="padding-top: 2%") 
                        strong Persuasivos
                    
                    hr(style="border: 1px solid #7DCAC2")

                    p Este modelo de informe se enfoca en persuadir y convencer a quien va dirigido, sobre la efectividad de su propuesta o plan de acción presentado.

            br
        
    br

    .row.mx-0(style="background-color:#FFFFFF; border-radius: 10px; display: flex; flex-wrap: wrap")

        .col-12.my-3.mx-2

            p Propiamente en las organizaciones, se requieren diferentes informes con las siguientes características:

            .row

        .col-12.col-md-4
        
            .row.justify-content-center.align-items-center.mx-2(style="border-radius: 10px; background-color:#B2D1F2;")

                .row-2.justify-content-center.align-items-center

                    img(src="assets/images/pages/img5.svg", style="max-width: 100%").rounded.mx-auto.d-block.mx-2.my-2

                .row-10(style="background-color:#D3E7FF; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px")

                    p(style="padding-top: 2%").mx-2.my-2
                        strong Autónomos

                    hr(style="border: 1px solid #8EB5E1").mx-2.my-2

                    p.mx-2.my-3 Este tipo de informes están enfocados en entregar información sobre el contexto de la organización para futura toma de decisiones. Por ejemplo, el estado del mercado, nuevos competidores, aranceles, políticas de gobierno, entre otros aspectos.

            br
        
        .col-12.col-md-4
        
            .row.justify-content-center.align-items-center.mx-2(style="border-radius: 10px; background-color:#B2D1F2;")

                .row-2.justify-content-center.align-items-center

                    img(src="assets/images/pages/img6.svg", style="max-width: 100%").rounded.mx-auto.d-block.mx-2.my-2

                .row-10(style="background-color:#D3E7FF; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px")

                    p(style="padding-top: 2%").mx-2.my-2
                        strong Económicos

                    hr(style="border: 1px solid #8EB5E1").mx-2.my-2

                    p.mx-2.my-3 Contienen información relacionada con estado financiero y económico de la organización, los cuales se presentan periódicamente y son dirigidos principalmente a sus áreas directivas y estratégicas.

            br
        
        .col-12.col-md-4
        
            .row.justify-content-center.align-items-center.mx-2(style="border-radius: 10px; background-color:#B2D1F2;")

                .row-2.justify-content-center.align-items-center

                    img(src="assets/images/pages/img7.svg", style="max-width: 100%").rounded.mx-auto.d-block.mx-2.my-2

                .row-10(style="background-color:#D3E7FF; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px")

                    p(style="padding-top: 2%").mx-2.my-2
                        strong Sectoriales

                    hr(style="border: 1px solid #8EB5E1").mx-2.my-2

                    p.mx-2.my-3 Reúnen información sobre un sector en especial que seguramente está relacionado con la actividad de la organización y que se pretende conocer para explorar opciones de expansión o de ingreso a nuevos mercados.