include ../mixins/functions

+pageHeader('Procedimiento para el diseño y registro de informes', 'assets/images/header/header_media.svg')

.container#tipos

    .header-ecored

        h1 1. Tipos de Informe en las organizaciones. 

    .row.my-5
        
        .card

            img(src="assets/images/pages/img1.png", style="max-width: 100%").img-fluid

            .card-body

                .card-text

                    p Como todos los aspectos relevantes en las organizaciones, dependen de la actividad que realizan y la dinámica que las caracteriza. Para los informes también aplica este concepto, ya que de acuerdo a su naturaleza y a su contenido, tendrán unas características especiales. 

    .row(style="background-color:#FFFFFF; border-radius: 10px")

        .col-12.my-3.mx-2

            p Los informes según su naturaleza pueden ser:

        .col-12
        
            .row.justify-content-center.align-items-center.mx-2(style="border-radius: 10px; background-color:#B2D1F2;")

                .col-12.col-md-2.justify-content-center.align-items-center.py-2

                    img(src="assets/images/pages/img1.svg", style="max-width: 100%").rounded.mx-auto.d-block

                .col-12.col-md-10(style="background-color:#D3E7FF; border-top-right-radius: 10px; border-bottom-right-radius: 10px")

                    p(style="padding-top: 2%") 
                        strong Técnicos

                    hr(style="border: 1px solid #8EB5E1")

                    p Este tipo de informes son utilizados por organizaciones ya sea de tipo público o privado, con el fin de informar el estado de alguna actividad de estudio o investigativa a un determinado grupo, en el cual se incluyen tecnicismos ya que se requiere un cierto nivel de conocimiento sobre el tema para entender adecuadamente su contenido.

            br

            .row.justify-content-center.align-items-center.mx-3(style="border-radius: 10px; background-color:#B2D1F2;")

                .col-12.col-md-2.justify-content-center.align-items-center.py-2

                        img(src="assets/images/pages/img2.svg", style="max-width: 60%").rounded.mx-auto.d-block

                .col-12.col-md-10(style="background-color:#D3E7FF; border-top-right-radius: 10px; border-bottom-right-radius: 10px")

                    p(style="padding-top: 2%") 
                        strong Científicos

                    hr(style="border: 1px solid #8EB5E1")

                    p Al igual que el informe técnico, utiliza términos especializados, pero de un mayor nivel ya que son especiales para socializar actividades investigativas en diferentes áreas.
            
            br

            .row.justify-content-center.align-items-center.mx-3(style="border-radius: 10px; background-color:#B2D1F2;")

                .col-12.col-md-2.justify-content-center.align-items-center.py-2

                    img(src="assets/images/pages/img3.svg", style="max-width: 70%").rounded.mx-auto.d-block

                .col-12.col-md-10(style="background-color:#D3E7FF; border-top-right-radius: 10px; border-bottom-right-radius: 10px")

                    p(style="padding-top: 2%") 
                        strong Divulgativo

                    hr(style="border: 1px solid #8EB5E1")

                    p Utilizado para dar a conocer contenidos variados al público en general, contextualizando a sus lectores, en términos y lenguaje de fácil comprensión, evitando tecnicismos.

            br

            .row.justify-content-center.align-items-center.mx-3(style="border-radius: 10px; background-color:#B2D1F2;")

                .col-12.col-md-2.justify-content-center.align-items-center

                    img(src="assets/images/pages/img4.svg", style="max-width: 70%").rounded.mx-auto.d-block

                .col-12.col-md-10(style="background-color:#D3E7FF; border-top-right-radius: 10px; border-bottom-right-radius: 10px")

                    p(style="padding-top: 2%") 
                        strong Mixto

                    hr(style="border: 1px solid #8EB5E1")

                    p Puede ser utilizado por una organización en particular, para dar a conocer un tema, concepto o noticia al público en general a quien le interesa el tema.
            
            br

    br

    .row(style="background-color:#FFFFFF; border-radius: 10px")

        .col-12.my-3

            p Por otra parte, según su contenido puede ser: 

        .col-12.px-0
        
            .row.justify-content-center.align-items-center.mx-3(style="border-radius: 10px; background-image: url('assets/images/pages/img2.jpg'); background-size: contain")

                .d-none.d-sm-block.col-2

                .col-12.col-md-10(style="background-color:#CBEAE7")

                    p(style="padding-top: 2%") 
                        strong Expositivos

                    hr(style="border: 1px solid #7DCAC2")

                    p Estos son utilizados para presentar resultados, avances de proyectos, investigaciones, logro de metas y sus objetivos, o de algún otro tipo de situación que requiere una presentación de su contenido para conocimiento de un determinado público.

            br

            .row.justify-content-center.align-items-center.mx-3(style="border-radius: 10px; background-image: url('assets/images/pages/img3.jpg'); background-size: contain")

                .d-none.d-sm-block.col-2

                .col-12.col-md-10(style="background-color:#CBEAE7")

                    p(style="padding-top: 2%") 
                        strong Interpretativos

                    hr(style="border: 1px solid #7DCAC2")

                    p Este tipo de informe se enfocan específicamente en la interpretación de la información, hechos y datos sobre una situación en particular, por ejemplo: revisar e interpretar la información del nivel de despachos oportunos que se dieron durante el último semestre, en el informe puede interpretarlo, comparándolo con el mismo periodo pero del año anterior y establezco una disminución o aumento en su resultado, y de acuerdo a esto se genere un posterior plan de acción, dado el caso.

            br

            .row.justify-content-center.align-items-center.mx-3(style="border-radius: 10px; background-image: url('assets/images/pages/img4.jpg'); background-size: contain")

                .d-none.d-sm-block.col-2

                .col-12.col-md-10(style="background-color:#CBEAE7")

                    p(style="padding-top: 2%") 
                        strong Demostrativos
                    
                    hr(style="border: 1px solid #7DCAC2")

                    p Es útil para el momento de defender una teoría o posición frente a algún tema, al igual en la situación de defender y sustentar una propuesta o iniciativa. Por ejemplo: en el momento que se requiera demostrar la causa raíz del aumento de los pedidos con faltantes.

            br

            .row.justify-content-center.align-items-center.mx-3(style="border-radius: 10px; background-image: url('assets/images/pages/img5.jpg'); background-size: contain")

                .d-none.d-sm-block.col-2

                .col-12.col-md-10(style="background-color:#CBEAE7")

                    p(style="padding-top: 2%") 
                        strong Demostrativos
                    
                    hr(style="border: 1px solid #7DCAC2")

                    p Es útil para el momento de defender una teoría o posición frente a algún tema, al igual en la situación de defender y sustentar una propuesta o iniciativa. Por ejemplo: en el momento que se requiera demostrar la causa raíz del aumento de los pedidos con faltantes.

            br
        
    br

    .row(style="background-color:#FFFFFF; border-radius: 10px")

        .col-12.my-3.mx-2

            p Propiamente en las organizaciones, se requieren diferentes informes con las siguientes características:

            .row

        .col-12.col-md-4
        
            .row.justify-content-center.align-items-center.mx-2(style="border-radius: 10px; background-color:#B2D1F2;")

                .row-2.justify-content-center.align-items-center

                    img(src="assets/images/pages/img5.svg", style="max-width: 100%").rounded.mx-auto.d-block.mx-2.my-2

                .row-10(style="background-color:#D3E7FF; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px")

                    p(style="padding-top: 2%").mx-2.my-2
                        strong Técnicos

                    hr(style="border: 1px solid #8EB5E1").mx-2.my-2

                    p.mx-2.my-2 Este tipo de informes son utilizados por organizaciones ya sea de tipo público o privado, con el fin de informar el estado de alguna actividad de estudio o investigativa a un determinado grupo, en el cual se incluyen tecnicismos ya que se requiere un cierto nivel de conocimiento sobre el tema para entender adecuadamente su contenido.

            br
        
        .col-12.col-md-4
        
            .row.justify-content-center.align-items-center.mx-2(style="border-radius: 10px; background-color:#B2D1F2;")

                .row-2.justify-content-center.align-items-center

                    img(src="assets/images/pages/img6.svg", style="max-width: 100%").rounded.mx-auto.d-block.mx-2.my-2

                .row-10(style="background-color:#D3E7FF; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px")

                    p(style="padding-top: 2%").mx-2.my-2
                        strong Económicos

                    hr(style="border: 1px solid #8EB5E1").mx-2.my-2

                    p.mx-2.my-2 los de este tipo, contienen información relacionada con estado financiero y económico de la organización, los cuales se presentan periódicamente y son dirigidos principalmente a sus áreas directivas y estratégicas.

                    br
                    br

            br
        
        .col-12.col-md-4
        
            .row.justify-content-center.align-items-center.mx-2(style="border-radius: 10px; background-color:#B2D1F2;")

                .row-2.justify-content-center.align-items-center

                    img(src="assets/images/pages/img7.svg", style="max-width: 100%").rounded.mx-auto.d-block.mx-2.my-2

                .row-10(style="background-color:#D3E7FF; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px")

                    p(style="padding-top: 2%").mx-2.my-2
                        strong Sectoriales

                    hr(style="border: 1px solid #8EB5E1").mx-2.my-2

                    p.mx-2.my-2 Se dirige a reunir información sobre un sector en especial, que seguramente está relacionado con la actividad de la organización, y que pretende conocer para explorar opciones de expansión o de ingreso a nuevos mercados.

                    br
                    br

            br