include ../mixins/functions

+pageHeader('Procedimiento para el diseño y registro de informes', 'assets/images/header/header_media.svg')

.container#definicion

    .header-ecored

        h1 3. Definición de un informe técnico.

        .brand-line-primary

    .card.mb-3

        .row.no-gutters
            
            .col-md-8

                .card-body

                    .card-text

                        p El concepto de informe, como derivado del verbo informar, es la descripción oral o escrita de las características y circunstancias de un suceso o asunto. Se trata, en otras palabras, de la acción y efecto de informar (dictaminar). En escritura, un informe es el documento que se caracteriza por contener información que refleja el resultado de una investigación o de un trabajo adaptado al contexto de una situación determinada. Por lo general, el propósito del informe es, obviamente, informar. De todas formas, estos escritos pueden incluir elementos persuasivos como recomendaciones o sugerencias.

                        br

                        p El informe técnico es la exposición por escrito de las circunstancias observadas en el examen de la cuestión que se considera, con explicaciones detalladas que certifiquen lo dicho. En otras palabras, es un texto expositivo y argumentativo, por medio del cual se transmite una información de lo ejecutado en cierto tema y tiempo específico, o a lo que conviene hacer del mismo; generalmente están dirigidos a un destinatario que, normalmente, deberá tomar una decisión respecto al tema tratado en el texto.

            .col-md-4.col-xl-4(style="border-top-right-radius: 6px; border-bottom-right-radius: 6px; background-image: url('assets/images/pages/img7.jpg'); background-size: contain; background-size: cover; background-repeat: no-repeat; display: flex; flex-direction: row; align-content: end; flex-wrap: wrap;")

                .d-none.d-md-block.row-12.text-center(style="background-color: #E2E6ED; width: 100%; border-bottom-right-radius: 6px")

                    p(style="margin-bottom: -4px")
                        strong Nombre: informes en la organización

                    p(style="margin-bottom: 0px")
                        strong Fuente de la imagen: 
                        |   shutterstock

    br

    .row.mx-0

        .col(style="padding-left: 0; padding-right: 0px")

            img(src="assets/images/pages/img8.jpg", style="max-width: 100%").img-fluid

    .row.mx-0(style="display: flex; flex-direction: row; background-color: #D3E7FF; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; padding-top: 15px")


        .col-lg-6

            p Generalmente, los datos obtenidos se resumen en informes técnicos que deben ser escritos de forma impersonal. El informe debe escribirse asumiendo que el lector, cualquiera que este sea, no está familiarizado con el tema tratado; de esta manera, será comprensible por sí mismo.

            p Este tipo de informe tiene las siguientes características, siendo corto pero completo (conciso):

        .col-lg-6

            ul
                li Contiene solo lo que es necesario.
                li Es simple y escrito correctamente, sin repeticiones y sin redundancias.
                li Contiene información interesante y relevante.
                li Es ordenado, estructurado y organizado.
                li Es agradable de leer ilustraciones, fotografías.
                li Es organizado y estructurado.