include ../mixins/functions

+pageHeader('Procedimiento para el diseño y registro de informes', 'assets/images/header/header_media.svg')

.container#registro

    .header-ecored

        h1 4. Registro de datos

    .card.mb-3

        .row
            
            .col-md-6

                .card-body

                    .card-text

                        p En las organizaciones se están registrando datos constantemente en todas sus áreas, desde la recepción o servicio al cliente hasta la zona de despachos del producto, por lo cual, datos como nombres, direcciones, cantidades, especificaciones, horarios, tiempos, costos, entre muchos otros, son la base de los informes que posteriormente se generarán de forma manual o muy seguramente por medio de la utilización de un sistema de información que permitirá procesarlos de forma más rápida y eficiente, favoreciendo la operación de la empresa.

            .col-md-6.col-xl-6(style="border-top-right-radius: 6px; border-bottom-right-radius: 6px; background-image: url('assets/images/pages/img9.jpg'); background-size: contain; background-size: cover; background-repeat: no-repeat; display: flex; flex-direction: row; align-content: end; flex-wrap: wrap;")

    br

    .row.mx-0(style="display: flex; flex-direction: row; background-color: #FFFFFF; border-top-left-radius: 6px; border-top-right-radius: 6px; padding-top: 15px")


        .col-lg-12

            p Las organizaciones, en su gran mayoría, cuentan con procesos definidos según su estructura, dinámica y actividad, en donde se pueden identificar diferentes momentos de registro de datos; especialmente, en los procesos de apoyo y misionales, que es donde se desarrolla la mayor cantidad de actividades de la organización.
    
    .row.mx-0(style="background-color: #CFECFA; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px")

        .col(style="padding-left: 0; padding-right: 0px").text-center

            img(src="assets/images/pages/img17.svg", style="max-width: 80%; padding: 15px 15px").img-fluid

    br

    .row.mx-0.recuadro1

        .col-12

            p En cuanto a los procesos de apoyo, encargados de suministrar todos los recursos que requiere la empresa para desarrollar su actividad, el registro de datos es fundamental, porque requieren, entre otros:

            br

            ul
                li Solicitud de pedidos.
                li Cantidades de material.
                li Fechas de recibo.
                li Fechas de entrega.
                li Características y especificaciones del producto solicitado.
                li Cantidad de colaboradores.
                li Perfiles de los colaboradores.
                li Cantidad de recursos económicos.

        .col-12.text-center

            img(src="assets/images/pages/img18.svg", style="max-width: 80%").img-fluid

    br

    .row.mx-0(style="background-color: #FFFFFF; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px")

        .col(style="padding-left: 0; padding-right: 0px").text-center

            img(src="assets/images/pages/img10.jpg", style="max-width: 100%").img-fluid

    .row.mx-0(style="display: flex; flex-direction: row; background-color: #FFFFFF; padding-top: 15px")

        .col-lg-12

            p Dado lo anterior, un sistema de información está en la capacidad de generar espacios para el registro adecuado y oportuno de datos, con el fin de que posteriormente se puedan procesar de forma eficiente, generando información necesaria para el desarrollo de todas las actividades operativas.

    .row.mx-0(style="display: flex; flex-direction: row; background-color: #FFFFFF; padding-top: 15px")

        .col-lg-6

            p De igual forma, sucede en los procesos misionales que se refieren a la misión y al quehacer de la empresa como eje fundamental de su funcionamiento y de donde entra y sale la mayor cantidad de datos. Dada su relevancia, todos los demás tipos de procesos quieren aportarle datos como:

        .col-lg-6

            ul
                li Cantidad de unidades a producir.
                li Fechas de entrega.
                li Cantidad de materia prima.
                li Especificaciones del producto a fabricar.
                li Turnos de trabajo.
                li Cantidad de operarios por turno.

    br

    .row.mx-0.justify-content-center.align-items-center.px-2.py-2(style="display: flex; background-color: #E2E6ED; border-radius: 6px")

        .col-2.text-center

            img(src="assets/images/pages/img8.svg", style="max-width: 100%").img-fluid

        .col-10

            p(style="margin-bottom: 0px") Todos estos datos se registrarán por medio de cada equipo que tengan disponibles, ya sea un teléfono inteligente, una tableta, un lector de código de barras o QR, un equipo portátil, entre muchos otros; el que se utilice debe garantizar la calidad y oportunidad de lo datos, ya que, si llega tarde o incompleta afectará negativamente el desarrollo de las actividades del proceso y, por ende, los objetivos, organizaciones y la satisfacción del cliente.
    
    br

.container#procesamiento

    .header-ecored

        h2 4.1 Procesamiento de datos e información
    
    .card.mb-3

        .row.mx-0
            
            .col-md-6

                .card-body

                    .card-text

                        p El procesamiento de datos, básicamente es la reunión y acumulación de datos, los cuales son tratados, manipulados y transformados finalmente en información útil para alguna actividad, toma de decisión o cualquier acción requerida, por ejemplo, en un centro de distribución los datos pueden ser la ubicación de los clientes donde se debe entregar los diferentes pedidos, un sistema de información puede trabajar con dichos datos y generar una ruta para un transporte eficaz, en donde se pueda destinar optimizar el tiempo y el combustible requerido para las entregas y realizarlo de una forma segura. 

            .col-md-6.col-xl-6(style="border-top-right-radius: 6px; border-bottom-right-radius: 6px; background-image: url('assets/images/pages/img11.jpg'); background-size: contain; background-size: cover; background-repeat: no-repeat; display: flex; flex-direction: row; align-content: end; flex-wrap: wrap;")

    br

    .row.mx-0(style="background-color: #FFFFFF; border-radius: 10px")

        p.py-2.px-2 Un sistema de información requiere de ciertas etapas en su funcionamiento para realizar el tratamiento de datos en cualquier entorno y principalmente requiere:

        .col-12

            #accordionExample.accordion

                .card
                    #headingOne.card-header(style="background-color: #68C3EF")
                        p(style="margin-top: 1rem")
                            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                p(style="color: #FFFFFF; font-size: 20px").mb-0 Recopilar
                    #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample', style="background-color: #E0F5FF")
                        .card-body

                            .row.justify-content-center.align-items-center

                                .col-auto
                                    
                                    img(src="assets/images/pages/img9.svg", style="max-width: 80%").rounded.mx-auto.d-block

                                .col-10
                                    
                                    p Se puede identificar como el primer paso en el procesamiento de datos en un sistema de información. La recopilación se puede realizar de forma manual y física, como listados, encuestas, listas de chequeo, libros, entre otros, como también automática y digital; tal como el peso de un vehículo por medio de una báscula digital, la cual llega a una base de datos. 
        
                .card
                    #headingTwo.card-header(style="background-color: #68C3EF")
                        p(style="margin-top: 1rem")
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                p(style="color: #FFFFFF; font-size: 20px").mb-0 Preparar
                    #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample', style="background-color: #E0F5FF")
                        .card-body

                            .row.justify-content-center.align-items-center

                                .col-auto
                                    
                                    img(src="assets/images/pages/img10.svg", style="max-width: 80%").rounded.mx-auto.d-block

                                .col-10
                                    
                                    p En esta etapa los datos deben ser organizados y depurados, con el fin de eliminar los que estén repetidos o cuente con errores o defectos desde la fuente.
                
                .card
                    #headingThree.card-header(style="background-color: #68C3EF")
                        p(style="margin-top: 1rem")
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                                p(style="color: #FFFFFF; font-size: 20px").mb-0 Entrada de datos
                    #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample', style="background-color: #E0F5FF")
                        .card-body

                            .row.justify-content-center.align-items-center

                                .col-auto
                                    
                                    img(src="assets/images/pages/img11.svg", style="max-width: 80%").rounded.mx-auto.d-block

                                .col-9
                                    
                                    p Como se ha desarrollado en anteriores materiales de formación, es la etapa donde se ingresan los datos al sistema de información, por ejemplo: si el sistema es un CRM, un supermercado que ha ingresado el número de identificación del cliente en el aplicativo, registra cada uno de los productos que compra en cada ocasión; de esta forma, el sistema de información tiene una entrada manual y automática por medio de herramientas como el lector de código de barras de cada producto.

                .card
                    #headingFour.card-header(style="background-color: #68C3EF")
                        p(style="margin-top: 1rem")
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseThree')
                                p(style="color: #FFFFFF; font-size: 20px").mb-0 Procesamiento
                    #collapseFour.collapse(aria-labelledby='headingThree', data-parent='#accordionExample', style="background-color: #E0F5FF")
                        .card-body

                            .row.justify-content-center.align-items-center

                                .col-auto
                                    
                                    img(src="assets/images/pages/img12.svg", style="max-width: 80%").rounded.mx-auto.d-block

                                .col-10
                                    
                                    p El sistema de información, por medio de los algoritmos que lo componen, inicia el trabajo y procesa lo ingresado; lo cual puede llegar de diferentes fuentes para su posterior interpretación.

                .card
                    #headingFive.card-header(style="background-color: #68C3EF")
                        p(style="margin-top: 1rem")
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseThree')
                                p(style="color: #FFFFFF; font-size: 20px").mb-0 Interpretación de datos
                    #collapseFive.collapse(aria-labelledby='headingThree', data-parent='#accordionExample', style="background-color: #E0F5FF")
                        .card-body

                            .row.justify-content-center.align-items-center

                                .col-auto
                                    
                                    img(src="assets/images/pages/img13.svg", style="max-width: 80%").rounded.mx-auto.d-block

                                .col-9
                                    
                                    p En esta etapa, luego de procesar los datos, ya la información está disponible para ser utilizada; ya que, en este proceso de salida, se genera información como reportes, gráficos, imágenes, entre otros.

                .card
                    #headingSix.card-header(style="background-color: #68C3EF")
                        p(style="margin-top: 1rem")
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSix', aria-expanded='false', aria-controls='collapseThree')
                                p(style="color: #FFFFFF; font-size: 20px").mb-0 Almacenamiento de datos
                    #collapseSix.collapse(aria-labelledby='headingThree', data-parent='#accordionExample', style="background-color: #E0F5FF")
                        .card-body

                            .row.justify-content-center.align-items-center

                                .col-auto
                                    
                                    img(src="assets/images/pages/img14.svg", style="max-width: 80%").rounded.mx-auto.d-block

                                .col-9
                                    
                                    p Los datos al procesarlos quedarán almacenados o guardados en un medio que sea seguro y que conserve la integridad de su contenido, regularmente pueden almacenarse en servidores, discos virtuales o discos externos como respaldo del archivo original.
                
                .card
                    #headingSix.card-header(style="background-color: #68C3EF")
                        p(style="margin-top: 1rem")
                            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSeven', aria-expanded='false', aria-controls='collapseThree')
                                p(style="color: #FFFFFF; font-size: 20px").mb-0 Análisis de datos
                    #collapseSeven.collapse(aria-labelledby='headingThree', data-parent='#accordionExample', style="background-color: #E0F5FF")
                        .card-body

                            .row.justify-content-center.align-items-center

                                .col-auto
                                    
                                    img(src="assets/images/pages/img15.svg", style="max-width: 80%").rounded.mx-auto.d-block

                                .col-9
                                    
                                    p El análisis de los datos se realiza en formatos de archivo especiales para tal función, de acuerdo con las necesidades de la organización.
    
    br

    .row.px-2.py-2(style="background-color: #FFFFFF; border-radius: 4px")

        .col-12

            p(style="margin-bottom: 0px;") En el desarrollo del procesamiento de los datos, un sistema de información requiere realizar procesos un poco más específicos que las etapas mencionadas anteriormente, dada la cantidad, calidad, especialidad y complejidad de los datos; adicionalmente, se debe tener muy en cuenta la necesidad que tiene la organización, sobre cómo requiere la información que se obtiene como resultado. Por lo tanto, a continuación, se presentan una serie de procesos requeridos:
        
            br
    
        .col-12(style="background-color: #FFFFFF; border-radius: 4px").d-flex

            .col-4

                .row(style="display: flex")

                    .col-2.text-center.px-0.py-0

                        p(style="background-color: #68C3EF; border-radius: 20px; font-size: 12px")
                            strong 01

                    .col-8

                        p(style="margin-bottom: -16px; margin-top: 5px; font-size: 10px") Entrada de datos.

                        hr(style="border: 1px solid #D2E1F3")

                .row(style="display: flex")

                    .col-2.text-center.px-0.py-0

                        p(style="background-color: #68C3EF; border-radius: 20px; font-size: 12px")
                            strong 02

                    .col-8

                        p(style="margin-bottom: -16px; margin-top: 5px; font-size: 10px") Captura de datos.

                        hr(style="border: 1px solid #D2E1F3")

                .row(style="display: flex; ")

                    .col-2.text-center.px-0.py-0

                        p(style="background-color: #68C3EF; border-radius: 20px; font-size: 12px")
                            strong 03

                    .col-8

                        p(style="margin-bottom: -16px; margin-top: 5px; font-size: 10px") Tipos de datos.

                        hr(style="border: 1px solid #D2E1F3")
                
                .row(style="display: flex; ")

                    .col-2.text-center.px-0.py-0

                        p(style="background-color: #68C3EF; border-radius: 20px; font-size: 12px")
                            strong 04

                    .col-8

                        p(style="margin-bottom: -16px; margin-top: 5px; font-size: 10px") La depuración de los datos.

                        hr(style="border: 1px solid #D2E1F3")
                
                .row(style="display: flex; ")

                    .col-2.text-center.px-0.py-0

                        p(style="background-color: #68C3EF; border-radius: 20px; font-size: 12px")
                            strong 05

                    .col-8

                        p(style="margin-bottom: -16px; margin-top: 5px; font-size: 10px") Integridad de los datos.

                        hr(style="border: 1px solid #D2E1F3")
                
                .row(style="display: flex; ")

                    .col-2.text-center.px-0.py-0

                        p(style="background-color: #68C3EF; border-radius: 20px; font-size: 12px")
                            strong 06

                    .col-8

                        p(style="margin-bottom: -16px; margin-top: 5px; font-size: 10px") Codificación (cifrado) de datos.

                        hr(style="border: 1px solid #D2E1F3")
            
            .col-4

                .row(style="display: flex; ")

                    .col-2.text-center.px-0.py-0

                        p(style="background-color: #68C3EF; border-radius: 20px; font-size: 12px")
                            strong 07

                    .col-8

                        p(style="margin-bottom: -16px; margin-top: 5px; font-size: 10px") Transformación de datos.

                        hr(style="border: 1px solid #D2E1F3")

                .row(style="display: flex; ")

                    .col-2.text-center.px-0.py-0

                        p(style="background-color: #68C3EF; border-radius: 20px; font-size: 12px")
                            strong 08

                    .col-8

                        p(style="margin-bottom: -16px; margin-top: 5px; font-size: 10px") Traducción de datos.

                        hr(style="border: 1px solid #D2E1F3")

                .row(style="display: flex; ")

                    .col-2.text-center.px-0.py-0

                        p(style="background-color: #68C3EF; border-radius: 20px; font-size: 12px")
                            strong 09

                    .col-8

                        p(style="margin-bottom: -16px; margin-top: 5px; font-size: 10px") Resúmenes de datos.

                        hr(style="border: 1px solid #D2E1F3")
                
                .row(style="display: flex; ")

                    .col-2.text-center.px-0.py-0

                        p(style="background-color: #68C3EF; border-radius: 20px; font-size: 12px")
                            strong 10

                    .col-8

                        p(style="margin-bottom: -16px; margin-top: 5px; font-size: 10px") Agregación de datos.

                        hr(style="border: 1px solid #D2E1F3")
                
                .row(style="display: flex; ")

                    .col-2.text-center.px-0.py-0

                        p(style="background-color: #68C3EF; border-radius: 20px; font-size: 12px")
                            strong 11

                    .col-8

                        p(style="margin-bottom: -16px; margin-top: 5px; font-size: 10px") Validación de datos.

                        hr(style="border: 1px solid #D2E1F3")
                
                .row(style="display: flex; ")

                    .col-2.text-center.px-0.py-0

                        p(style="background-color: #68C3EF; border-radius: 20px; font-size: 12px")
                            strong 12

                    .col-8

                        p(style="margin-bottom: -16px; margin-top: 5px; font-size: 10px") Modelado de datos.

                        hr(style="border: 1px solid #D2E1F3")

            .col-4

                .row(style="display: flex; ")

                    .col-2.text-center.px-0.py-0

                        p(style="background-color: #68C3EF; border-radius: 20px; font-size: 12px")
                            strong 13

                    .col-8

                        p(style="margin-bottom: -16px; margin-top: 5px; font-size: 10px") El análisis de datos.

                        hr(style="border: 1px solid #D2E1F3")

                .row(style="display: flex; ")

                    .col-2.text-center.px-0.py-0

                        p(style="background-color: #68C3EF; border-radius: 20px; font-size: 12px")
                            strong 14

                    .col-8

                        p(style="margin-bottom: -16px; margin-top: 5px; font-size: 10px") El análisis de datos estadístico.

                        hr(style="border: 1px solid #D2E1F3")

                .row(style="display: flex; ")

                    .col-2.text-center.px-0.py-0

                        p(style="background-color: #68C3EF; border-radius: 20px; font-size: 12px")
                            strong 15

                    .col-8

                        p(style="margin-bottom: -16px; margin-top: 5px; font-size: 10px") Visualización de datos.

                        hr(style="border: 1px solid #D2E1F3")
                
                .row(style="display: flex; ")

                    .col-2.text-center.px-0.py-0

                        p(style="background-color: #68C3EF; border-radius: 20px; font-size: 12px")
                            strong 16

                    .col-8

                        p(style="margin-bottom: -16px; margin-top: 5px; font-size: 10px") Almacenamiento de datos.

                        hr(style="border: 1px solid #D2E1F3")
                
                .row(style="display: flex; ")

                    .col-2.text-center.px-0.py-0

                        p(style="background-color: #68C3EF; border-radius: 20px; font-size: 12px")
                            strong 17

                    .col-8

                        p(style="margin-bottom: -16px; margin-top: 5px; font-size: 10px") Minería de datos.

                        hr(style="border: 1px solid #D2E1F3")
                
                .row(style="display: flex; ")

                    .col-2.text-center.px-0.py-0

                        p(style="background-color: #68C3EF; border-radius: 20px; font-size: 12px")
                            strong 18

                    .col-8

                        p(style="margin-bottom: -16px; margin-top: 5px; font-size: 10px") Interpretación de datos.

                        hr(style="border: 1px solid #D2E1F3")
    
    br

    .row.justify-content-center.align-items-center.px-2.py-2(style="display: flex; background-color: #E2E6ED; border-radius: 6px")

        .col-2.text-center

            img(src="assets/images/pages/img16.svg", style="max-width: 100%").img-fluid

        .col-10

            p(style="margin-bottom: 0px") Todo lo anteriormente definido, gira en torno a las necesidades que presenta la organización, de acuerdo con la dinámica de su actividad; así mismo, los sistemas de información deben adaptarse para ser una herramienta que les permita contar con información valiosa en la toma de decisiones en todos sus niveles, generando una ventaja competitiva y ser más eficientes y sostenibles en el mercado.