.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Autor
                th Tipo de material
                th Enlace del recurso

        tbody
            tr
                td 
                    strong Como redactar un informe tecnico
                td PDF
                td 
                    a(href="media/documentos/MC_como_redactar_un_informe_tecnico.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td 
                    strong Guia para la presentacion de informes tecnicos. Colciencias
                td PDF
                td 
                    a(href="media/documentos/MC_guia_para_la_presentacion_de_informes_tecnicos_colciencias.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td
                    strong Protocolo para la elaboracion del Informe de Evaluacion Externa
                td PDF
                td 
                    a(href="media/documentos/MC_protocolo_para_la_elaboracion_del_informe_de_evaluacion_externa.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar