//Colores base del material de formación
$brand-color-dark: #4384CD;

//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: lighten(#4384CD, 15%);


$brand-color-secondary: #72A3D9;