.bg-color-naranja {
    background-color: orange;
}


// Estilos tema 2

.custom-item-img {
    flex: 0 0 120px;
    overflow: hidden;
    margin-right: 2rem;
}

.recuadro1{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
}